{{#each this}}
<li class="country-item">
    <h2>{{name}}</h2>
    <img src="{{flag}}" alt="">
    <ul class="country-information">
        <li class="capital">Capital: {{capital}}</li>
        <li class="population">Population: {{population}}</li>
        <li class="language">Languages:
            <ul class="language-list">
                {{#each languages}}

                <li class="language-item">{{name}}</li>
                {{/each}}
            </ul>
        </li>
    </ul>
</li>
{{/each}}